PORT = 8000
GEMINI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8000/auth/github/callback
MONGO_URI=mongodb://localhost:27017
SESSION_SECRET=randomsecretkey
JWT_SECRET=anothersecretkey
FRONTEND_URL=http://localhost:5173
GITHUB_TOKEN=rQ4CDixs2xU8TAhM / bholo0090_db_user